.bakandairy{
    font-family: 'Dancing Script', cursive !important;
    color:#66FCF1;
    font-weight: 650 !important;
    font-size: 20px !important;

}
.anding{
    font-family: 'Nanum Myeongjo', serif !important;
    font-size: 25px;
    color: white;
}